@{
    ViewBag.Title = "Home Page";
}




    <div class="col-md-6">
        <a href="/Home/CommingIndex" class="btn btn-primary"> اجنبي قادم</a>
    </div>

    <div class="col-md-6">
        <a href="/Home/TravellersIndex" class="btn btn-success">  مسافر جديد</a>
    </div>



